@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";
@import url("https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap");

@import "./typography.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neutral-900 text-white font-cascadia;
  }
  section {
    @apply sm:px-8;
  }
  h1 {
    @apply sm:text-4xl text-xl;
  }
  h2 {
    @apply sm:text-4xl text-3xl;
  }
  h3 {
    @apply sm:text-2xl text-xl pb-2;
  }
  h4 {
    @apply sm:text-2xl text-lg pb-2;
  }
}

@layer components {
  .section-title {
    @apply font-bold text-white capitalize tracking-wide mb-0;
  }
  .chip {
    @apply px-3 py-1 bg-neutral-800 border text-gray-300 rounded-full text-sm;
  }
  .project-card {
    @apply rounded shadow-md p-8 hover:shadow-xl transition-all duration-300 bg-neutral-800 max-w-[700px];
  }
  .button-icon {
    @apply h-10 w-10 sm:w-[50px] sm:h-[50px] rounded-full border bg-neutral-800 flex items-center justify-center;
  }
  .nav-link {
    @apply block px-4 py-2 text-gray-600 transition-all duration-200 
           relative hover:text-black capitalize tracking-wide text-sm font-medium;
  }
  .nav-link::after {
    @apply content-[''] absolute bottom-0 left-4 right-4 h-0.5 bg-current scale-x-0 transition-transform duration-200 origin-left;
  }
  .nav-link:hover::after {
    @apply scale-x-100;
  }
  .nav-link.active {
    @apply text-black;
  }
  .nav-link.active::after {
    @apply scale-x-100;
  }
  .gradient {
    @apply bg-gradient-to-b from-neutral-800 from-5% to-neutral-900;
  }
}

/* Hide all scrollbars */
* {
  scrollbar-color: var(--scrollbar-thumb, #888) transparent;
  scrollbar-width: thin;
}

/* For Webkit browsers */
*::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

*::selection {
  @apply bg-neutral-500 text-neutral-900;
}

html {
  scroll-behavior: smooth;
}
.scroll-snap-x {
  scroll-snap-type: x mandatory;
}

.scroll-snap-center {
  scroll-snap-align: center;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
